@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    font-family: 'Inconsolata', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: 'Fira Mono', monospace;
    --pure-white: #ffffff;
    --primary-color: #f7f7f7;
    --secondary-color: #030303;
    --tertiary-color: #070707;
    --accent-color: var(--pure-white);
    --heading-color: var(--primary-color);
    --text-color: var(--primary-color);
    --column-width: 42rem;
    --column-margin-top: 4rem;
}

body {
    background-color: var(--tertiary-color);
    color: var(--text-color);
}